body {
    background: rgb(67,170,219);
    background: -moz-linear-gradient(90deg, rgba(67,170,219,1) 0%, rgba(173,203,126,0.9649998427105217) 35%, rgba(229,184,226,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(67,170,219,1) 0%, rgba(173,203,126,0.9649998427105217) 35%, rgba(229,184,226,1) 100%);
    background: linear-gradient(90deg, rgba(67,170,219,1) 0%, rgba(173,203,126,0.9649998427105217) 35%, rgba(229,184,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43aadb",endColorstr="#e5b8e2",GradientType=1);
}

button {
    background-color: #cde946;
    border: none;

    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    &:hover {
        background-color: #86d3eb;
    }
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/